/* CSS declarations go here */
body{
    background-color: #181c1f;
    color: #d2edf4;
    font-family: sans-serif;
}
header {
    
    background: #414a64;
    background-image: linear-gradient(to bottom, #414a64, #121213 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
}
.GameOver {
    color: black;
    background-color: #8d8d8d;
    padding: 20px 15px 15px 15px;
    position: relative;
    text-align: center;
    width: 40%;
    margin: 40px auto;
    border-radius: 40px;
}
canvas {
    display: block;
    margin: auto;
}

.leaderboard {
    position: absolute;
    top: 180px;
    right: 20px;
    background-color: #414a64;
    color: white;
    padding: 20px;
    border-radius: 40px;
}

.leaderboard ul li {
    margin-bottom: 20px;
    padding-right: 0;
}

.leaderboard ul {
    padding-left: 15px;
}
